:root{
    --colorFondo: rgb(235, 236, 236);
    --colorFondo2: burlywood;
    --colorHeaderFooter: rgb(29, 51, 64);
    --colorSecundario: rgb(229, 107, 17);
    --colorTerciario: rgb(0,243,187);
}
.contenedor{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
@font-face {
    font-family: title;
    src: url('../Fonts/Bree_Serif/BreeSerif-Regular.ttf');
}
@font-face{
    font-family: subtitle;
    src: url('../Fonts/Questrial/Questrial-Regular.ttf');
}
@font-face{
    font-family: texto;
    src: url('../Fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}
body{
    font-family: texto;
    background-color: var(--colorFondo);
    overflow-x:hidden;
}
svg{
    user-select: none;
}
/* menu + Header */
img.logo{
    padding-top: 5%;
}
input[type="checkbox"]{
    display: none;
}
/*Mostrar*/
input[id="menu"]:not(:checked)~.menu{
    left: 100%;
    /* display: none; */
    animation: menuShow 1s;
}
input[id="menu"]:not(:checked)~header>div>span>label>div>img{
    transform: rotate(0deg);
    animation: OpenMenu 1s;
}
/*Esconder*/
input[id="menu"]:checked~.menu{
    left: 0;
    animation: menuHide 1s;
    display: inline;
}
input[id="menu"]:checked~header>div>span>label>div>img{
    transform: rotate(45deg);
    animation: CloseMenu 1s;
}
header{
    background-color: var(--colorHeaderFooter);
    width: 100vw;
    height: calc(7vh+vmin);
}
div.nav{
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
div.menu{
    position: absolute;
    right: 0;
    top: 9.7vh;
    width: 100%;
    padding: 5px;
    background-color: var(--colorHeaderFooter);
    font-size: 1.2em;
}
ul{
    margin-top: 0px;
    text-align: center;
    padding: 0px
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--colorFondo);
}
a:hover{
    color: var(--colorSecundario);
}
/* Section */
h2{
    font-family: title;
    font-size: 2em;
    margin: 0 0 0 5%;
}
section.info{
    margin: 5%;
}
div.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boton{
    background-color: var(--colorTerciario);
    font-family: title;
    font-size: 1.2em;
    padding: 1.5vw;
    margin: auto;
    border-style: none;
}
section.episodios{
    position: relative;
    top: -4vh;
    display: grid;
    grid-template: auto auto/100%;
}
h2#episodios{
    margin-top: 10%;
    grid-area: 1/1/2/2;
}
div.fondo{
    background-color: var(--colorFondo2);
    grid-area: 1/1/3/2;
    transform: skewY(-10deg);
    z-index: -1;
}
div.podcast{
    grid-area: 2/1/3/2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5%;
}
iframe{
    margin: 3%;
    max-width: 450px;
}
iframe:last-of-type{
    margin-bottom: 0;
}
section.nosotros p,div.nosotros, section.nosotros span{
    margin: 5%;
    text-align: justify;
    border: .1em;
}
div.presentadores{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
div.presentadores span.nombre{
    position: absolute;
    color: var(--colorTerciario);
    text-shadow: 0px 0px 10px black;
    font-size: 1.7em;
    font-weight: bold;
    z-index: 1;
}
div.presentadores div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
div.presentadores .img:hover{
    z-index: 0;
    filter: sepia(100%);
    animation: presentacion1 1s;
}
div.presentadores .img:not(:hover){
    z-index: 2;
    filter: sepia(0%);
    animation: presentacion2 1s;
}
div.temas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5% 0 5% 0;
}
div.temas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--colorSecundario);
    padding: 2%;
    border-radius: 10%
}
div.temas i{
    font-size: 2.5em;
}
div.temas div:hover{
    background-color: rgba(0,0,0);
    color: var(--colorTerciario);
    opacity: .6;
    animation: icono1 1s;
}
div.temas div:not(:hover){
    animation: icono2 1s;
}
span{
    text-align: center;
}
/* Footer */
footer{
    background-color: var(--colorHeaderFooter);
    width: 100vw;
    height: 6vh;
    color: var(--colorFondo);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer span{
    font-size: .65em;
    width: 85%;
    max-width: auto;
}
/* Animaciones */
@keyframes menuShow{
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes CloseMenu{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }
}
@keyframes menuHide{
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}
@keyframes OpenMenu{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes presentacion1{
    from{
        filter: sepia(0%);
        z-index: 2;
    }
    to{
        filter: sepia(100%);
        z-index: 0;
    }
}
@keyframes presentacion2{
    from{
        filter: sepia(100%);
        z-index: 0;
    }
    to{
        filter: sepia(0%);
        z-index: 2;
    }
}
@keyframes icono1{
    from{
        background-color: none;
        color: var(--colorSecundario);
        opacity: 1;
    }
    to{
        background-color: rgba(0,0,0);
        color: var(--colorTerciario);
        opacity: .6;
    }
}
@keyframes icono2{
    from{
        background-color: rgba(0,0,0);
        color: var(--colorTerciario);
        opacity: .6;
    }
    to{
        background-color: none;
        color: var(--colorSecundario);
        opacity: 1;
    }
}
/* Responsive */
