:root{
    --colorFondo: rgb(235, 236, 236);
    --colorFondo2: burlywood;
    --colorHeaderFooter: rgb(29, 51, 64);
    --colorSecundario: rgb(229, 107, 17);
    --colorTerciario: rgb(0,243,187);
}
.contenedor{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
body{
    /*font-family: 'Big Shoulders Text', cursive;*/
    font-family: 'IBM Plex Sans', sans-serif;
    /*font-family: 'IBM Plex Mono', monospace;*/
    background-color: var(--colorFondo);
    overflow-x:hidden;
}
svg{
    user-select: none;
}
/* menu + Header */
img.logo{
    padding-top: 5%;
}
input[type="checkbox"]{
    display: none;
}
/*Mostrar*/
input[id="menu"]:not(:checked)~.menu{
    left: 100%;
    animation: menuShow 1.5s;
}
input[id="menu"]:not(:checked)~header>div>span>label>div>img{
    transform: rotate(0deg);
    animation: OpenMenu 1s;
}
/*Esconder*/
input[id="menu"]:checked~.menu{
    left: 0;
    animation: menuHide 1.5s;
}
input[id="menu"]:checked~header>div>span>label>div>img{
    transform: rotate(45deg);
    animation: CloseMenu 1s;
}
header{
    background-color: var(--colorHeaderFooter);
    width: 100vw;
    height: calc(7vh+vmin);
}
div.nav{
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
div.menu{
    position: absolute;
    right: 0;
    top: 7.7vh;
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: var(--colorHeaderFooter);
    font-size: 1.2em;
}
ul{
    margin-top: 0px;
    text-align: center;
    padding: 0px
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--colorFondo);
}
a:hover{
    color: var(--colorSecundario);
}
/* Section */
h2{
    font-size: 2em;
    margin-left: 5%;
}
section.info{
    margin: 5%;
}
div.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boton{
    background-color: var(--colorTerciario);
    font-family: 'IBM Plex Mono';
    font-size: 1.2em;
    padding: 1.5vw;
    margin: auto;
    border-style: none;
}
div.podcast{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--colorFondo2);
    padding: 5%;
    padding-top: 30%;
}
iframe{
    margin: auto;
    margin-bottom: 5%;
}
section.nosotros p,div.nosotros, section.nosotros span{
    margin: 5%;
    text-align: justify;
    height: 35vh;
    border: .1em;
}
div.nosotros{
    background: linear-gradient(rgba(0,0,0,0), var(--colorFondo));
    position: absolute;
    width: 90%;
}
input[id="ver"]:not(:checked){
    
}
span{
    text-align: center;
}
/* Footer */
footer{
    background-color: var(--colorHeaderFooter);
    width: 100vw;
    height: 5vh;
    color: var(--colorFondo);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer span{
    font-size: .5em;
}
/* Animaciones */
@keyframes menuShow{
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes CloseMenu{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }
}
@keyframes menuHide{
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}
@keyframes OpenMenu{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);
    }
}
/* Developer */
.fondo{
    background-color: rgba(255, 255, 0, 0.527)
}
